﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Testowe Api</h1>
            </hgroup>
            <p>
                Jest to proste, okrojone Api testowe chwilowo zastępujące produkcyjne (dopóki nie zostanie zrobione produkcyjne),
                prawie w pełni zgodne z tym zrobionym przez Michała.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Przykładowe wywołania api:</h3>
        <ol class="round">
            <li class="one">
                <h5>Logowanie przykład:</h5>
                http://restsrv.azurewebsites.net/api/login <br><br>
                <b>Nagłówki:</b><br>

                POST<br>
                User-Agent: Fiddler<br>
                Host: localhost:49998<br>
                Content-Length: 115<br>
                Content-Type: application/x-www-form-urlencoded<br><br>

                <b>Body:</b><br>
                ={<br>
                'version': '1.0',<br>
                'os': 'WEB|ANDROID|IOS|WM',<br>
                'locale': 'pl',<br>
                'login': 'Mibaz',<br>
                'password': ''<br>
                }
            </li>

            <li class="two">
                <h5>Wylogowanie przykład:</h5>
                http://restsrv.azurewebsites.net/api/logout <br><br>
                <b>Nagłówki:</b><br>

                GET<br>
                User-Agent: Fiddler<br>
                Host: localhost:49998<br>
                Content-Length: 115<br>
                Content-Type: application/x-www-form-urlencoded<br>
                Cookie: ASP.NET_SessionId=girynjos225c3vpyad12ezzv;
            </li>
            <li class="three">
                <h5>Pobranie wiadomości:</h5>
                http://restsrv.azurewebsites.net/api/update <br><br>
                <b>Nagłówki:</b><br>

                POST<br>
                User-Agent: Fiddler<br>
                Host: restsrv.azurewebsites.net<br>
                Content-Length: 215<br>
                Content-Type: application/x-www-form-urlencoded<br><br>


                <b>Body:</b><br>
                ={<br>
                'since': '22',<br>
                'location': {<br>
                'latitude': '10',<br>
                'longtitude': '10',<br>
                'precision': '1',<br>
                'source': 'GPS'<br>
                },
                'ignoredConversations': '',<br>
                'startFrom': '0',<br>
                'MsgsCount': '10'<br>
                }
            </li>
        </ol>
    </section>
</div>


@*
    <script type="text/javascript">
        $("#button").click(function () {
            ajaxRrequest($("#textBox").val)
        });

        function ajaxRrequest(mail) {
            $.get("url",
                { name: "aaa" },
                function () {
                    alert("Wysłałem");
                });
        }
    </script>
*@